{% include 'header.html' %}
 <!-- Content All Starts-->  
 <div id="content_all">

   <p>Каток расположен по адресу:</p>
   <p>Ул. Проспект Октября 91а, за клубом Проспект на остановке Гимназия им. Гарипова (Юрюзань). 
   Проезд осуществляется следующими маршрутами: </p>
   <p>Троллейбусы: 1, 2, 8, 11, 13, 14, 22 </br>
Автобусы: 14, 26, 51, 51а, 59, 59э, 69, 69с, 74, 164т </br>
Маршрутные такси: 8с, 22, 25, 36, 71, 131к, 164к, 180, 203, 211, 216, 216а, 223, 224, 226, 228, 233, 239, 244, 245, 247, 247, 249, 258, 261б, 269, 270, 272, 277, 279, 289, 290, 298</p>
   
   <div id="cont">
   <div id="YMapsID" style="width:600px;height:400px" ></div>
   </div>
   
  <div style="height: 230px"> </div>
   
 </div>
<!-- Content All Ends-->  
{% include 'footer.html' %}

