{% include 'header.html' %}
 <!-- Content All Starts-->  
 <div id="content_all">

   <p><strong>Каток работает в зимнее  время.</strong><br />
     Новое большое и тёплое здание для проката и переобувания коньков. <br />
     Более 200 пар новых коньков  2011 модельного ряда в прокате! <br />
     Большое ледовое поле – более  6000 квадратных метров. <br />
  <br />
  <strong>Расценки сезона 2010/2011</strong>.<br />
     Прокат коньков - 50 руб./час.<br />
     Выход на лед - 100 руб./час.<br />
     Детям до 12 лет (при наличии свидетельства о рождении) – предоставляется скидка  50% на выход на лёд. <br />
  <br />
     Абонемент на 2 недели на  выход на лёд – 800 рублей.<br />
     НОВИНКА!!! Подарочный  абонемент на выход на лёд на сезон 2010/2011 (ограниченная серия) – 2000  рублей. А также розыгрыш абонементов на радио.<br />
  <br />
     Гардероб (обувь принимается в пакетах):<br />
     - при прокате коньков - бесплатно,<br />
     - со своими коньками - 10 руб.<br />
  <br />
     Заточка коньков – 100 руб. <br />
  <br />
     Покатались – подкрепитесь! <br />
     Тёплое кафе - продаются  горячие пирожки, чай, кофе, прохладительные напитки, кислородный коктейль.<br />
  <br />
     Музыкальное сопровождение и гирлянды, создающие праздничное настроение. <br />
     Удобная парковка (въезд со стороны центра – будьте внимательны). <br />
     Возможны скидки на групповое катание. <br />
    Каждую субботу с 11.00 до 13.00 часов игра в хоккей.</p>
<p>&nbsp;</p>
   <p>&nbsp;</p>
 </div>
<!-- Content All Ends-->  
{% include 'footer.html' %}