{% include 'header.html' %}
 <!-- Content All Starts-->  
 <div id="content_all">

<img width="722" height="100" src="{{ MEDIA_URL }}images/price_clip_image001.gif" alt="НА ЛЕДОВОМ КАТКЕ 'НА ПРОСПЕКТЕ',ПРАВИЛА ПОВЕДЕНИЯ" />

 <ol type="1">
<li>Посетитель ледового катка понимает, что фигурное катание – это травмоопасный вид спорта. Поэтому он сам определяет для себя и своего ребёнка возможность посещения ледового комплекса исходя из физического самочувствия и состояния здоровья. Администрация полностью снимает с себя ответственность в случае получения травм в период нахождения посетителя на территории ледового катка.</li>
<li>Дети до 10 лет допускаются к катанию на ледовом катке только в сопровождении взрослых.</li>
<li>Для детей и неуверенно катающихся взрослых рекомендуется пользоваться защитой – шлемами, налокотниками, наколенниками и напульсниками.</li>
<li>Движение на льду осуществляется по кругу против часовой стрелки. 
<li>Необходимо соблюдать скоростной режим: не катайтесь на большой скорости и не создавайте помехи окружающим.</li>
<li>Соблюдайте время проката коньков и льда. В случае превышения времени катания указанного на билете (кассовом чеке) более чем на 15 минут следует оплатить продление времени катания кратное 30 минутам. 
<li>В случае умышленной порчи имущества ледового катка, виновный должен возместить стоимость испорченного имущества.</li>
<li>Будьте внимательны, аккуратны и взаимно вежливы на льду!</li>
<br />
<img src="{{ MEDIA_URL }}images/price_clip_image002.gif" alt="2" width="298" height="53"/>
<br /><br />
<li>Курить на катке и прилегающих к нему территориях.</li>
<li>Находиться на ледовом катке в нетрезвом состоянии, приносить с собой и распивать спиртные напитки.</li>
<li>Выходить на лёд в состоянии алкогольного или наркотического опьянения и ругаться нецензурными выражениями.</li>
<li>Выходить на ледовое поле в беговых коньках, с клюшками, шайбами, санками, а также без коньков.</li>
<li>Долбить или ковырять лёд коньками или другими предметами, а также бросать на лёд любые предметы, выливать жидкость и сыпать какие-либо вещества.</li>
<li>Приводить с собой на ледовый каток домашних животных.</li>
<li>Играть на катке в хоккей в не отведённое для этого время.</li>
</ol>
     
         
<img src="{{ MEDIA_URL }}images/price_clip_image003.gif" alt="3" width="722" height="100" />
 
   <br/><br/>
   
   <div id="chek" align="center">
 <strong>  Требуйте чек, не отходя от кассы!<br />
     В случае если Вам не дали кассовый чек<br />
    требуйте вернуть деньги!</strong>
    
    </div>
    
    <div class="table_price">
   <table border="0" cellspacing="0" cellpadding="0" >
     <tr>
       <td width="496" valign="top"><p><strong>&nbsp;</strong></p>
         <p><strong>Прокат коньков в час</strong><strong> </strong></p></td>
       <td width="216"><p align="center"><strong>&nbsp;</strong></p>
         <p align="center"><strong>50</strong><strong> рублей</strong><strong> </strong></p></td>
     </tr>
     <tr>
       <td width="496" valign="top"><p><strong>Прокат льда в час </strong><br />
         <strong>- взрослым</strong><br />
         <strong>- детям до 12 лет (при наличии    подтверждающего документа)</strong></p></td>
       <td width="216"><p align="center"><strong>100</strong><strong> рублей</strong><strong> </strong><br />
         <strong>50</strong><strong> рублей</strong></p></td>
     </tr>
     <tr>
       <td width="496" valign="top"><p><strong>Гардероб</strong></p></td>
       <td width="216"><p align="center"><strong>10</strong><strong> рублей</strong></p></td>
     </tr>
     <tr>
       <td width="496" valign="top"><p><strong>Абонемент на прокат льда на 14 дней</strong><br />
         <strong>Подарочный абонемент на весь сезон</strong></p></td>
       <td width="216"><p align="center"><strong>800</strong><strong>   рублей</strong><br />
         <strong>2000</strong><strong> рублей</strong></p></td>
     </tr>
   </table>
  </div>
<br />   <img width="370" height="82" src="{{ MEDIA_URL }}images/price_clip_image004.gif" alt="!!! ВНИМАНИЕ !!!" /><strong>
   <p><strong>&nbsp;</strong></p>
   <br clear="all" />
   <p align="center"><strong>Во избежание конфликтных ситуаций</strong><strong> </strong><br />
     <strong>сохраняйте чек до конца катания.</strong></p>
   <p><strong>Администрация  катка оставляет за собой право отказать в прокате коньков и льда без объяснения  причин!</strong><br />
     <strong>По вопросам  группового катания обращаться к администрации катка! </strong><br />
     <br />
     <strong>Администрация</strong></p>
<p>&nbsp;</p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
 </div>
<!-- Content All Ends--> 
{% include 'footer.html' %}